@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
}

.panel{
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}